# Replace with your actual Neon database connection string
NEON_DB_STRING=postgresql://username:password@ep-cool-snowflake-123456.us-east-2.aws.neon.tech/dbname?sslmode=require
SECRET_KEY=your_super_secret_key_2026
